service: sls-test-project

provider:
  name: aws
  runtime: nodejs6.10
  stage: dev
  region: us-east-1

  memorySize: 512
  timeout: 15

  aliasStage:
    loggingLevel: "INFO"
    dataTraceEnabled: true

  stackTags: # Optional CF stack tags
    environment: ${opt:stage, self:provider.stage}
    application: ${self:service}
    product: something

  environment:
    SERVERLESS_PROJECT_NAME: ${self:service} # FIXME Required for Sessions
    SERVERLESS_PROJECT: ${self:service}
    SERVERLESS_STAGE: ${self:custom.stage}
    SERVERLESS_REGION: ${self:custom.region}

plugins:
  - serverless-offline
  - serverless-webpack
  - serverless-aws-alias

custom:
  stage: ${opt:stage, self:provider.stage}
  region: ${opt:region, self:provider.region}

  # Stage dependent variables.
  # Usage: ${self:custom.${self:custom.stage}.<varname>}
  dev:
    testvar: test-${self:custom.stage}

  prod:
    testvar: test-${self:custom.stage}

  webpack: ./webpack.lambda.config.js
  webpackIncludeModules: true

functions:
  testfct1:
    description: 'Echo function echoes alias'
    handler: handlers/testfct1/handler.handle
    events:
      - http:
          method: GET
          path: /func1
          authorizer:
            name: testauth
            resultTtlInSeconds: '0'
            identitySource: method.request.header.Authorization
      - http:
          method: POST
          path: /func1/update
          aliasStage:
            loggingLevel: "OFF"
            dataTraceEnabled: false

  testauth:
    description: 'A custom authorizer'
    handler: handlers/testauth/handler.handle

resources:
  Resources:

  Outputs:
