service: sls-test-project

provider:
  name: aws
  runtime: nodejs4.3
  stage: dev
  region: us-east-1

  memorySize: 512
  timeout: 15

  iamRoleStatements:
    - Effect: Allow # access to DynamoDB
      Action:
        - dynamodb:*
      Resource:
        - 'Fn::Join':
          - '/'
          -
            - 'Fn::Join':
              - ':'
              -
                - arn:aws:dynamodb
                - Ref: 'AWS::Region'
                - Ref: 'AWS::AccountId'
                - table
            - Ref: TestDynamoDbTable

  stackTags: # Optional CF stack tags
    environment: ${opt:stage, self:provider.stage}
    application: ${self:service}
    product: something

  environment:
    SERVERLESS_PROJECT_NAME: ${self:service} # FIXME Required for Sessions
    SERVERLESS_PROJECT: ${self:service}
    SERVERLESS_STAGE: ${self:custom.stage}
    SERVERLESS_REGION: ${self:custom.region}
    # Auth
    TEST_TABLE_NAME:
      Ref: TestDynamoDbTable

plugins:
  - serverless-offline
  - serverless-webpack
  - serverless-aws-alias

custom:
  stage: ${opt:stage, self:provider.stage}
  region: ${opt:region, self:provider.region}

  # Stage dependent variables.
  # Usage: ${self:custom.${self:custom.stage}.<varname>}
  dev:
    testvar: test-${self:custom.stage}

  prod:
    testvar: test-${self:custom.stage}

  webpack: ./webpack.lambda.config.js
  webpackIncludeModules: true

functions:
  testfct1:
    description: 'Echo function echoes alias'
    handler: handlers/testfct1/handler.handle
    events:
      - http:
          method: GET
          path: /func1
      - sns: ${self:service}-topic
      - stream:
          type: dynamodb
          arn:
            Fn::GetAtt:
              - TestDynamoDbTable
              - StreamArn

resources:
  Resources:

    TestDynamoDbTable:
      Type: AWS::DynamoDB::Table
      DeletionPolicy: Delete
      Properties:
        AttributeDefinitions:
          - AttributeName: myKey
            AttributeType: S
        KeySchema:
          - AttributeName: myKey
            KeyType: HASH
        ProvisionedThroughput:
          ReadCapacityUnits: 1
          WriteCapacityUnits: 1
        StreamSpecification:
          StreamViewType: NEW_AND_OLD_IMAGES

  Outputs:
    TestDynamoDbTableName:
      Description: Test DynamoDB Table Name
      Value:
        Ref: TestDynamoDbTable
